#apple {
    background-color: red;
}

.abc {
 /* width: 200px; */
    border-collapse: collapse;
    width: 400px; 	
    /*自動斷行*/
    word-wrap: break-word;
    table-layout: fixed;

}
#myTable{
    border-collapse: collapse;
    width: 400px; 	

    /*自動斷行*/
    word-wrap: break-word;
    table-layout: fixed;

}
#myTbody{

}
.appear {
  display:"block";
  }

.disappear{
    display:"none";
}


